# see http://about.travis-ci.org/docs/user/languages/php/ for more hints
language: php

# list any PHP version you want to test against
php:
  - 7.1
  - 7.2

before_script:
  - composer install

# Script to run tests
script: composer test
